

/* .remove{
    font-size: 110%;
    border-radius: 5%;
    
    border: none;
    background-color: rgb(237, 182, 100);
    font-family: cursive;
} */
.quantity{
    float: right;
   margin-right: 5%;
    margin-top: 10vh;
   
}

.product-container {
    position: relative;
  }
  
  .add-to-cart-container {
    position: absolute;
    top: 23vh;
    right: 20px;
    border: solid;
    border-radius: 2%;
    border-width: thin;
    width: 32%;
  }