.footer{
    height: 42vh;
    width: 100%;
    background-color: blueviolet;
    margin-top: 0.5cm;
}

.contact-us{
    float: left;
    width: 45%;
    text-align: center;
    margin-top: 2vh;
}

.require-contact ul li{
    margin-top: 2%;
    text-align: left;
    margin-left: 10%;
    margin-top: 2%;
}

.policy{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 2vh;
}
.require-policy ul li{
    margin-top: 2%;
    text-align: left;
    margin-left: 10%;
    margin-top: 2%;
}

.require-payment ul li{
    margin-top: 2%;
    text-align: left;
    margin-left: 10%;
    margin-top: 2%;
}

.payment{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 2vh;
}

.social-icon{
    display: inline-block;
    margin-top: 2%;
    text-align: center;
    font-size: large;
    font-weight: 500;
    color: white;

}

.icons{
    color: white;
    margin-left: 48%;
    margin-top: 1%;
     
}

.right-reserved{
    color: white;
    margin-left: 43%;
}