/* App.css */
body {
  background-color: #000;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-page {
  background-size: cover;
  height: 100vh;
  font-weight: bolder;
  color: red;
  transition: background-image 0.5s ease-in-out;
}



h1 {
  font-size: 200%;
}

.login-btn,
.signup-btn {
  width: 6em; /* Use em instead of vw for font responsiveness */
  animation: float 3s 2s infinite;
  font-size: larger;
  font-weight: bold;
}

.signup-btn:hover,
.login-btn:hover {
  text-decoration: underline;
}

/* @keyframes float {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
} */

header {
  padding: 20px;
}

section {
  padding: 50px;
}

footer {
  padding: 20px;
  background-color: #333;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: #fff;
}


.seq-num {
 font-size: larger;
 color:rgb(228, 228, 228);
  margin-bottom: 0;
 transform: translateY(15vh);
  animation: colorize 10s 0 infinite;
}




@keyframes colorize {
  0%{
      background-color:#ccc;
  }
  50%{
    background-color: dimgray;
  }
  100%{
    background-color:#ccc;
  }
  
}

